/* === Load Montserrat-Arabic Font with Multiple Weights === */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic Thin/Montserrat-Arabic Thin.ttf');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic ExtraLight/Montserrat-Arabic ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic Regular/Montserrat-Arabic Regular.ttf');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic Regular/Montserrat-Arabic Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic Medium/Montserrat-Arabic Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic SemiBold/Montserrat-Arabic SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic Bold/Montserrat-Arabic Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic ExtraBold/Montserrat-Arabic ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat-Arabic';
    src: url('/public/fonts/Montserrat-Arabic/Montserrat-Arabic Black/Montserrat-Arabic Black.ttf');
    font-weight: 900;
    font-style: normal;
  } 

/* قاعدة Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* إعداد خطوط اللغة */
:root {
    --font: "Montserrat-Arabic";
}


.container {
    max-width: 1500px;
    width: 100%;
    margin-left: auto !important ;
    margin-right: auto !important ;
    padding-left: 20px !important ;
    padding-right: 20px !important ;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    color: #ffffff;
    text-align: right;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
